<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <context-param>
     <param-name>emailId</param-name>
     <param-value>nataraz@gmail.com</param-value>
  </context-param>
  
  <servlet>
     <servlet-name>test</servlet-name>
     <jsp-file>/second.jsp</jsp-file>
     <init-param>
        <param-name>dbuser</param-name>
        <param-value>system</param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>test</servlet-name>
      <url-pattern>/testurl</url-pattern>
  </servlet-mapping>
</web-app>